.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    background-color: skyblue;
    height: 40vw;
    border: 2px solid black;
}
